html
	head
	
	body
		p Salut!
		
		div.
			Veuillez cliquer sur le lien suivant pour acceder à Mayiz@.com: 
			#{ host }/account/connect?token=#{ tokenToSend }&uid=#{ uidToSend }
		
		p
			| Merci,
			br
			| Mayiz@.com
	