extends ../layout

block content
     
    div(class='container main-content alert alert-success') 
        p Le lien de connexion arrive dans votre boîte email dans quelques secondes.
        p N'oubliez pas de jetter un oeil dans votre dossier 'SPAMS' si vous ne le trouvez pas dans votre inbox.
        
        p Merci, 
        p Mayiz@.com


