extends layout

block content

    div(class='container main-content about-us') 
    
        h1(class='text-shadow') Bonjour à tous,
        p.
            Je suis mayizo.com
        p.
            Je suis un site d'informations sur/ et en rapport avec la République Démocratique du Congo.
        p.
            Je voudrais être un vecteur de conscientisation politique pour les congolais et par extension pour les africains.
        p.
            Je suis un espace  démocratique d'échange et de partage, un endroit ou les intellectuels pourront faire circuler leurs idées.
        p.
            Je suis un arbre à l'ombre duquel les congolais et les amis du Congo échangeront librement et démocratiquement, dans le respect de la loi (déontologie) et de l'éthique.
        p.
            Je suis open minded, et versé à coopérer avec les autres websites.
        p.
            J'ai mon cœur au Congo, mon corps en occident et mon regard tourné vers le monde...
        p.
            Mais focalisé sur le Congo.
        p.
            Je suis votre site.
        p
            | Je suis 
            span(class='site-name') M@yizo.com

