extends layout

block content
     
    div(class='container main-content alert alert-warning') 
        h1 Page introuvable
   
        a(href='/' style='text-decoration: underline;') Aller à la page d'acceuil
