extends ../../layout

mixin roleName (roleId, roles)
    - var role = roles.find(x => x.id == roleId);
    = (role ? role.name : roleId)  

block content

    div(class='container')
        h1(class='page-heading') Utilisateurs en attente
        hr
        table(id='usersTable')
            thead
                tr
                    th Email
                    th Role
                    th Ajouté le
                    th
            tbody
                each pendingUser in pendingUsers
                    tr
                        td= pendingUser.email
                        td: +roleName(pendingUser.roleId, roles)
                        td= pendingUser.createdDate.toFormat('DD MM YYYY HH24:MI')
                        td
                            a(class='btn' href='/admin/pendingUsers/edit/#{ pendingUser.id }') Détails
            tfoot

        a(class='btn btn-default' href='/admin/pendingUsers/add')
            span(class='glyphicon glyphicon-plus')
            span Ajouter

block append moreStylesheets
    link(href='/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css', rel='stylesheet')
    link(href='/vendor/datatables/media/css/jquery.dataTables.min.css', rel='stylesheet')

block append moreScripts
    script(src='/vendor/datatables/media/js/jquery.dataTables.min.js')
    script(src='/javascripts/users-module.js')

