html, body {
  font-family: 'Rosario', Helvetica, sans-serif;
  height: 100%;
  margin: 0; }

body {
  padding-top: 50px;
  padding-bottom: 20px; }

*.text-shadow, .about-us p:first-letter, .about-us p::first-letter, h2, h3 {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8); }

h1 {
  margin-top: 0;
  padding: 0;
  font-size: 2em !important; }
  form h1 {
    margin-bottom: 20px; }
  h1.page-heading {
    margin-top: 20px; }

h2 {
  font-size: 1.5em !important; }

h3 {
  font-size: 1em !important; }

a, a:hover, a:active, a:visited {
  color: #333333; }

.font-italic {
  font-style: italic; }

.navbar-brand {
  font-family: 'Pacifico';
  font-size: 32px;
  display: block;
  color: white;
  padding: 5px 15px;
  text-shadow: none; }

/* Wrapper for page content to push down footer */
.body-wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -55px;
  /* Pad bottom by footer height */
  padding: 0 0 60px; }

.footer {
  height: 20px; }
  .footer p {
    margin-left: 20px; }

.jumbotron {
  margin: 0px;
  padding: 15px;
  color: #c6c6c6;
  background-color: #333333; }
  .jumbotron p {
    font-size: 16px;
    margin-bottom: 10px; }

.navbar-inverse {
  background-color: #333333; }

#disqus_thread {
  margin-top: 40px; }

.headline-media {
  float: left;
  margin-right: 20px;
  width: 470px;
  height: 350px;
  overflow: hidden; }

.headline-content {
  min-width: 350px;
  overflow: hidden;
  color: #c6c6c6; }
  .headline-content a {
    color: #c6c6c6; }

.article-index-item {
  display: inline-block;
  width: 450px;
  min-width: 400px;
  margin-left: 20px;
  margin-right: 30px;
  vertical-align: top; }

.article-media {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden; }

.article-details .author-pseudo {
  margin-right: 5px;
  color: #c6c6c6;
  background-color: #333333; }
.article-details .comment-icon {
  margin: auto 3px auto 5px; }

.article-related {
  clear: both;
  margin-top: 60px;
  padding: 10px;
  color: #c6c6c6;
  background-color: #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .article-related div {
    display: inline-block;
    width: 220px;
    margin-right: 20px; }
    .article-related div a {
      color: #c6c6c6; }
      .article-related div a img {
        width: 220px; }

.main-form, .main-content {
  margin-top: 30px; }

.small-form {
  width: 500px; }

.large-form {
  width: 915px; }

.form-row {
  margin-bottom: 15px; }

.form-action > *:not(:first-child) {
  margin-left: 40px; }

.choice-inline {
  width: 100%; }

.choice-inline label:not(:first-child) {
  margin-left: 50px; }

.choice-inline label input[type="checkbox"] {
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
  bottom: 3px; }

.about-us p:first-letter, .about-us p::first-letter {
  font-size: 28px;
  font-weight: bold; }
.about-us .site-name {
  font: 28px bold 'Pacifico'; }
